html {
	height: 100%;
	width: 100%;
	background-image: url('../Imagini/Planete/Planete.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.containerScore{
    width: 90%;
    height: 10%;
    direction: rtl;
    padding-right: 10%;
    font-size: xx-large;
}

