html,
body {
	height: 100%;
	background-image: url("../Imagini/space2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

img {
	width: 416px;
	height: 272px;
	margin: auto;
	display: block;
}

span {
	font-size: x-large;
}
.text-right {
	padding-right: 50px !important;
}

.text-left {
	padding-left: 50px !important;
}

.title {
	font-size: xx-large;
	letter-spacing: 5px;
	font-weight: bolder !important;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: yellow;
}
