html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 500px;
	min-height: 500px;
	background: url("../Imagini/space.jpg");
	background-size: cover;
}

.greybox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#StartTest{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
	align-items: center;
}

#StartTest img{
    width: 500px;
    height: 500px;
}

#StartTest .bigImage{
    width: 80%;
    height: 80%;
}

.backButton{
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	top:0;
}

#floatRight{
	position:absolute; 
	top:1%; 
	right:1%;
}