html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 500px;
	min-height: 500px;
	background: url("../Imagini/space.jpg");
	background-size: cover;
}

.greybox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#StartTest{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
}

#StartTest img{
    width: 500px;
    height: 500px;
}